.body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ESTA ES LA IMAGEN DE LOGO SNAKE*/

.foto_logo {
    padding: 0px;
    margin: 10px;
    border: 0;
    float: inline-start;
    width: 150px;
}


/*TRABAJAR LAS CAJAS DE TEXTO DEL TITULO*/

.titulo_principal {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    color: #4CAF50;
    /*COLOR ESTILO DE FUENTE QUE SE VA A USAR*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*LOGO PAGINA PARA TRABAJAR TAMAÑO*/


/*TODAVIA NO SE SABE QUE ES -- NO BORRAR*/

img {
    display: block;
    justify-content: left;
    max-width: auto;
    height: auto;
    margin: auto;
}


/*IMAGEN DE FONDO*/

body {
    /* The image used */
    background-image: url("../imagenes/fondo_pagina_web.png");
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}


/*---------PAGINA THE LAST OF US------------*/


/*LOGO*/

div#logo_tlou {
    padding: 50px;
    margin: 30px;
    margin-bottom: 30px;
    border: 0;
    float: inline-start;
    width: auto;
    color: white;
}


/*TEXTO*/

div#review_tlou {
    margin: 30px;
    padding: 30px;
}


/*BOTONES RRSS*/

.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}

.template-demo>.btn {
    margin-right: 0.5rem !important
}

.template-demo {
    margin-top: 0.5rem !important
}

.btn.btn-rounded {
    border-radius: 50px
}

.btn-facebook {
    background: #3b579d !important;
    color: #ffffff !important;
}

.btn-youtube {
    background: #e52d27 !important;
    color: #ffffff !important;
}

.btn-twitter {
    background: #2caae1 !important;
    color: #ffffff !important;
}

.btn-dribbble {
    background: #ea4c89 !important;
    color: #ffffff !important;
}

.btn-linkedin {
    background: #0177b5 !important;
    color: #ffffff !important;
}

.btn-instagram {
    background: #dc4a38 !important;
    color: #ffffff !important;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278 !important;
    color: #ffffff !important;
}

.btn-youtube:hover,
.btn-youtube:focus {
    background: #c21d17 !important;
    color: #ffffff !important;
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf !important;
    color: #ffffff !important;
}

.btn-dribbble:hover,
.btn-dribbble:focus {
    background: #e51e6b !important;
    color: #ffffff !important;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682 !important;
    color: #ffffff !important;
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #bf3322 !important;
    color: #ffffff !important;
}


/*CAJA DE VIDEO DE CUERPO INDEX*/

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
}


/*CAJA DE VIDEO DE CUERPO INDEX*/

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.item img {
    width: 900px;
}


/* CAROUSEL DE IMAGENES*/


/*PAGINA NOSOTROS*/


/* CSS general */

.mi-iframe {
    width: 100px;
    height: 50px;
}


/* CSS pantallas de 320px o superior */

@media (min-width: 320px) {
    .mi-iframe {
        width: 200px;
        height: 150px;
    }
}


/* CSS pantalla 768px o superior */

@media (min-width: 768px) {
    .mi-iframe {
        width: 500px;
        height: 350px;
    }
}


/*css preguntas frecuentes*/


/* imagen responsive*/

.responsive {
    width: 40%;
    height: auto;
    max-width: 100px;
    margin-right: 20px;
    min-width: 100px;
}

@media screen and (max-width: 700px) {
    .contenido {
        font-size: 10px;
    }
    .titulo {
        font-size: 14px;
    }
}


/* Por debajo de 400px */

@media screen and (max-width: 400px) {
    .contenido {
        font-size: 8px;
    }
    .titulo {
        font-size: 12px;
    }
}










